@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply rounded-lg px-3 py-2;
}
.btn-primary {
    @apply bg-black text-white;
}

.btn-secondary {
    @apply bg-white text-black border border-black;
}

.btn-danger {
    @apply bg-red-500 text-white;
}

.input-section {
    display: flex;
    flex-direction: column;
}